// Core variables and mixins
@import "variables";
@import "twbs/bootstrap/variables";
@import "twbs/bootstrap/mixins";

@import "style1";
@import "style2";

@import 'xthor-fonts';

//
// Scaffolding
// --------------------------------------------------

* {
  font-family: $font-family-sans-serif;
}

body {
  font-family: $font-family-sans-serif;
  background-color: $body-bg;
}

//
// Navbars
// --------------------------------------------------


// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  border: 0;
  min-height: $navbar-height-xs;
  box-shadow: 0 2px 24px -6px rgba(51,51,51,.37);

  @media(min-width: $grid-float-breakpoint) {
    min-height: $navbar-height;
  }

  .btn {

    @media(min-width: $grid-float-breakpoint) {
      @include navbar-vertical-align(46px);
    }

    .glyphicon {
      margin-right: 2px;
      left: -4px;
    }
  }

  .btn-default {
    &:hover,
    &:focus,
    &.focus {
      background-color: #6a8e80;
    }
  }
}


// Alternate navbars
// --------------------------------------------------

// Default navbar
.navbar-default {
  background-color: $navbar-default-bg;
  border-color: $navbar-default-border;
}

.navbar-brand {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background-image: url(../img/logo.png);
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  width: 195px;
  height: 108px;

  @media (min-width: $grid-float-breakpoint) {
    @include navbar-vertical-align(108px);
  }
}

.navbar-nav {
  font-family: $font-family-oswald;
  font-size: 17px;
  letter-spacing: .02em;

  @media (min-width: $grid-float-breakpoint) {
    .navbar-right ~ & {
      @include navbar-vertical-align(46px);
      margin-left: 44px;
      margin-right: 44px;
    }
  }

  > li {
//    position: relative;
//    top: 6px;

    > a {
      @media (min-width: 768px) {
        padding-top: 13px;
        padding-bottom: 13px;

        &[data-subtext]:after {
          content: ": "attr(data-subtext);
        }

        .glyphicon {
          margin-right: 3px;
        }
      }

      .navbar & {
        color: $brand-primary;
      }
    }
  }
}

.navbar-text {
  @include navbar-vertical-align(40);
}


// Buttons in navbars
//
// Vertically center a button within a navbar (when *not* in a form).

.navbar-btn {

  &.btn-lg {
    @include navbar-vertical-align(46);
  }
}

//
// Buttons
// --------------------------------------------------

.btn {
  font-family: $font-family-oswald;

//    padding: 11px 29px;
//    border-radius: 3px;
//    color: #fff;
//    font-size: 16px;
}

.btn-lg {
  @include button-size($padding-large-vertical, $padding-large-horizontal, 16px, 1.5, $btn-border-radius-base);
}

.form-control {
  text-shadow: none;
  @include form-control-focus(#6a8e80);
}

// Form control sizing

@include input-size('.input-lg', $input-height-large, $padding-large-vertical, $padding-large-horizontal, $font-size-base, $line-height-large, $input-border-radius);

.input-log {
  font-family: "Open Sans";
}

// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}


//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-family;
}


.box-login {
  margin-top: 83px;
  padding: 39px 34px;
  border: 1px solid #9b9d8e;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 120px;

  @media (min-width: $screen-lg-min) {
    width: 32.8%;
  }

  h1 {
    margin-top: 25px;
    font-size: 40px;
    letter-spacing: -.025em;
    margin-bottom: 23px;
  }

  .lead {
    line-height: 1.37;
    font-size: 16px;
    letter-spacing: -.06em;

    @media (min-width: $grid-float-breakpoint) {
      max-width: 300px;
    }

  }

  @media (min-width: $grid-float-breakpoint) {

    .btn {
      margin-top: 23px;
      margin-bottom: 14px;
    }

    p,
    .lead {
      margin-bottom: 24px;
    }
  }

  .form-group {
    margin-bottom: 10px;
  }

  .form-control {
    border-color: transparent;
  }

  a {
    color: #fff;
    font-size: 13px;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: darken(#fff, 15%);
    }
  }
}

.login {
  background-image: url(../img/bg-login.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-bottom: -20px;
}

.footer {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  font-size: 15px;

  &,
  a {
    color: #333;
  }
}

.xthor {
  a {
    text-transform: lowercase;
    font-family: 'xthor',sans-serif;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.07em;
    color: #d0d0d0;
    text-decoration: none;
    display: inline-block;

    &:hover,
    &:focus,
    &.focus {
      color: darken(#d0d0d0, 5%);
    }
  }
}

// TEMP
home {
  /*background-image: url(../screenshots/areacliente_login.jpg);*/
  background-position: center top;
  background-repeat: no-repeat;
}

.panel {
  border-radius: 0;
  box-shadow: none;
}

.panel-heading {
  padding: 14px 45px;
}

.panel-default {
  border-color: #dedfe4;
  border-top-color: #fff;

  > .panel-heading {
    color: $gray-light;
    background-color: #f2f3f7;
    border-color: #dedfe4;
  }
}

.nav-tabs {
  border-bottom: 1px solid #bcbdc1;

  > li {
    margin-bottom: 0;

    > a {
      font-family: $font-family-oswald;
      font-size: 18px;
      border: 0;
      border-bottom: 4px solid transparent;
      color: $gray-lighter;

      &:hover,
      &:focus {
        color: $brand-primary;
        background-color: transparent;
      }

      &:hover {
        border-color: transparent;
      }
    }

    &.active {
      > a {
        &,
        &:hover,
        &:focus {
          color: $brand-primary;
          background-color: transparent;
          border: 0;
          border-bottom: 4px solid $brand-primary;
        }
      }
    }
  }

}

.user-pass1-wrap {
  .btn-lg {
    line-height: 1.4;
  }
}

.wp-pwd .pass1-text,
.pw-weak,
.show-password .pass1 {
  display: none;
}

.show-password {
  .pass1-text {
    display: block;
  }
}

.pass1-text {
  border-top-left-radius: $btn-border-radius-base !important;
  border-bottom-left-radius: $btn-border-radius-base !important;
}

.wp-hide-pw {
  @include button-variant(#333, #fff, #ccc);
}

.control-label {
  text-transform: uppercase;
  &:after {
    content: ":";
  }
  .help-block {
    text-transform: none;
  }
}

.dtp {
  > .dtp-content {
    > .dtp-date-view {
      > header {
        &.dtp-header {
          background-color: darken(#76a291, 10%);
        }
      }
    }
  }
  div {
    &.dtp-date,
    &.dtp-time {
      background-color: #76a291;
    }
    &.dtp-actual-year {
      color: #f5f5f5;
    }
  }
  .table {
    th,
    tr td {
      border-top: 0 !important;
    }
  }
  table {
    th,
    tr td {
      border-top: 0;
    }
    &.dtp-picker-days {
      tr {
        > td {
          > a{
            &.selected {
              background-color: #76a291;
            }
          }
        }
      }
    }
  }
  .p10 {
    > a {
      color: $brand-primary;
    }
  }
}

.dtp-buttons {
  .btn {
    background-color: transparent;
    text-transform: uppercase;
    padding: 8px 30px;
    border: 0;
    margin: 10px 1px;
    cursor: pointer;
    border-radius: 2px;
  }
  .btn-default,
  .btn {
    transition: background-color .2s ease;
    &.btn-flat {
      &:hover {
        &:not(.btn-link) {
          color: #fff;
          background-color: $gray-lighter;
        }
      }
    }
    &.dtp-btn-ok {
      &:hover {
        &:not(.btn-link) {
          background-color: #e07900;
        }
      }
    }
  }
}

.content {
  padding: 0;
}

.bootstrap-select {
  &.input-lg {
    .btn {
      @include button-size(10px, 16px, 14px, 1.33333, $btn-border-radius-base);
    }
  }
  .btn-default {
    @include button-variant(#333, #fff, #ccc);
  }
  &.open {
    > .btn-default {
      &.dropdown-toggle {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
      }
    }
  }
  .dropdown-menu {
    > .active {
      > a {
        &,
        &:hover,
        &:focus {
          background-color: #6a8e80;
        }
      }
    }
  }
}

.table-hover {
  tr {
    &.indebt {
      td {
        color: #f00;
      }
    }
  }
}


.pesagem-table * {
    /*font-size: 10px !important;*/
}
body {
    /* background-image: url(http://www.herasul.com.br/sistema/screenshots/relatoriosv03.jpg); */
    background-position: -285px -1px;
}
.pesagem-table {
  td,
  th {
//    background-color: transparent !important;
//    border: 1px solid #f00;
    height: auto !important;

  }
  tr {
    height: auto !important;
    padding: 0 !important;
    th,
    td {
      padding: 0 !important;
    }
  }
  .pesagem-col-1 {
    padding-left: 43px !important;
  }
  th {
    padding: 9px 15px !important;
    font-weight: bold;
  }
}
//body {background-image: url(http://www.herasul.com.br/sistema/screenshots/relatoriosv03.jpg); }
//
//.pesagem-table * {
//    font-family: Oswald;
//    color: red !important;
//    font-size: 13px !important;
//    width: auto !important;
//}
//
//.pesagem-table .pesagem-col-1 {
//    padding-left: 43px !important;
//    font-family: Oswald;
//    padding: 11px 0px 11px 52px !important;
//    font-weight: bold;
//    width: 9% !important;
//}
//
//body {
//    background-image: url(http://www.herasul.com.br/sistema/screenshots/relatoriosv03.jpg);
//    background-position: -285px -150px;
//}
.pesagem-table {
  font-size: 13px;
  thead {
    th {
      font-family: $font-family-oswald;
      font-weight: normal;
    }
  }
  tbody {
    td {
      font-family: $font-family-sans-serif;
    }
  }
  tr {
    th,
    td {
      padding-top: 12px !important;
      padding-bottom: 10px !important;
    }
  }
  tr {
    th,
    td {
      &:first-child,
      &:first-child {
        padding-left: 50px !important;
      }
    }
  }
  th {
    &:nth-child(1) {
      width: 11.02564103%;
      //width: 129px;
    }
    &:nth-child(2) {
      width: 6.41025641%;
      //width: 75px;
    }
    &:nth-child(3) {
      width: 6.49572650%;
      //width: 76px;
    }
    &:nth-child(4) {
      width: 4.70085470%;
      //width: 55px;
    }
    &:nth-child(5) {
      width: 6.83760684%;
      //width: 80px;
    }
    &:nth-child(6) {
      width: 10.51282051%;
      //width: 123px;
    }
    &:nth-child(7) {
      width: 12.13675214%;
      //width: 142px;
    }
    &:nth-child(8) {
      width: 21.79487179%;
      //width: 255px;
    }
    &:nth-child(9) {
      width: 6.75213675%;
      //width: 79px;
    }
    &:nth-child(10) {
      width: 13.33333333%;
      //width: 156px;
    }
  }
}
.btn-export {
  padding: 7px 35px;
  margin-left: 3px;
  margin-right: 2px;
  @include button-variant($btn-default-color, $btn-export-bg, $btn-default-border);
}
.pesagem-before {
  margin-top: 15px;
  margin-bottom: 17px;
}

.client-id,
.client-name {
    font-family: $font-family-oswald;
    padding: 23px 13px;
    font-size: 16px;
    line-height: 49px;
    letter-spacing: .0125em;
}

.client-id {
    padding-left: 52px;
    color: #6b6b6b;
}

.client-name {
    color: #005536;
}
body {
    //background-image: url(http://www.herasul.com.br/sistema/screenshots/relatoriosv03.jpg);
    background-position: -286px 31px;
}



.pesagem-totals-cli .col-md-3,
.pesagem-totals-cli .col-md-2 {
    border-bottom: 1px solid #d3d5da;
}

.pesagem-totals-cli {
    margin: 0;
}

.pesagem-totals-cli,
.pesagem-totals {
  .col-md-offset-5,
  .col-md-offset-5 {
    margin-left: 61.5%;
  }
  .col-md-3 {
    width: 15.8%;
    color: #005536;
  }
  .col-md-3,
  .col-md-2 {
    font-family: $font-family-oswald;
    font-size: 16px;
    letter-spacing: -0.2px;
    padding-right: 22px;
    padding-left: 22px;
  }
  .col-md-2 {
    width: 11.3%;
    color: #76a291;
  }
}
